body {
		background-color: #ffffff;
		padding: 0px;
		margin: 0px;
}

div#container {
		width: 1200px;
		border: 0px solid #ff0000;
}

div#container #topmenu {
		border-top: 0px;
		border-right: 0px solid #000000;
		border-left: 0px solid #000000;
		border-bottom: 2px solid #296b73;

		background-color: #57c4b9;
		height: 30px;
		position: fixed;
		z-index: 100;
		width: 100%;
}

div#topmenu #fejk {
		padding: 0px 10px;
}

div#container #content {
		border: 0px solid #000000;

		padding-top: 30px;
		margin: 0px auto;
		width: 95%;
}

div#content #left {
		border-right: 2px solid #296b73;
		width: 20%;
		float: left;
}

div#left #left_content {
		padding: 5px 10px;
}

div#content #center {
		float: left;
		width: 70%;
}

div#content #right {
		float: left;
		width: 2%;
		border-left: 2px solid #296b73;
}

div#right #right_content {
		padding: 5px 10px;
}