{% extends "layout.html" %}

{% block title %}Login{% endblock %}

{% block center_content %}
<h1>Login</h1>
<form method="post" action="/login/get" class="jwform">
	<fieldset>
		<ol>
			<li>
				<label for="email">E-mail</label>
				<input type="text" name="email" placeholder="E-mail" />
			</li>
			<li>
				<label for="password">Password</label>
				<input type="password" name="password" placeholder="Password" />
			</li>
		</ol>
	</fieldset>
	<input type="submit" value="Log in" />
</form>
{% endblock %}
