{% extends "layout.html" %}

{% block title %}Profile{% endblock %}

{% block center_content %}

<h1>Profile</h1>
<h3>Welcome back, {{ userInfo.firstname }}.</h3>

<p>
<h4>Your information:</h4>
Name: {{ userInfo.firstname }} {{ userInfo.surname }} <br />
E-mail: {{ userInfo.email }} <br />
User ID: {{ userInfo._id }}
</p>
{% if userId != userInfo._id %}
{% if !friendship %}
<a href="/addfriend?friendId={{ userInfo._id }}">Add friend</a>
{% else %}
Already buds
{% endif %}
<h4>Write on my wall</h4>
<form method="post" action="/wallpost">
	<textarea rows="5" cols="40" name="wallpost" placeholder="A wall of text"></textarea>
	<input type="hidden" name="hidden_userid" value="{{ userInfo._id }}" readonly="readonly"/>
	<p>
	<input type="submit" value="Write" />
	</p>
</form>
{% endif %}
<h4>My wall posts</h4>
{% for wallPost in wallPosts %}
<div class="wallpost">
{{ wallPost.wallpost }} <br />
From: <a href="/profile?userId={{ wallPost.from_id }}">{{ wallPost.from_user }}</a>
</div>
{% endfor %}

{% endblock %}
