{% extends "layout.html" %}

{% block title %}Register{% endblock %}

{% block center_content %}
<h1>Register</h1>
<form method="post" action="/save" class="jwform">
	<p>Each field is mandatory.</p>
	<fieldset>
		<legend>Personal information</legend>
		<ol>
			<li>
				<label for="firstname">Firstname</label>
				<input type="text" name="firstname" placeholder="Firstname" />
			</li>
			<li>
				<label for="surname">Surname</label>
				<input type="text" name="surname" placeholder="Surname" />
			</li>
		</ol>
	</fieldset>
	<fieldset>
		<legend>Profile information</legend>
			<li>
				<label for="email">E-mail</label>
				<input type="text" name="email" placeholder="E-mail" />
			</li>
			<p>
			<li>
				<label for="password">Password</label>
				<input type="password" id="password" name="password" placeholder="Password" />
			</li>
			<li>
				<label for="password_repeat">Repeat password</label>
				<input type="password" name="password_repeat" placeholder="Repeat password" />
			</li>
			</p>
		</ol>
	</fieldset>
<input type="submit" value="Register" />
</form>

{% endblock %}
